
/* Definitions Globales */

table {
    border: 4px solid rgb(217, 255, 0);
    background-color: rgb(153, 153, 153);
    border-radius: 10px;
    margin-top: 0px;
}
  
th {
    background-color: rgb(235, 235, 235);
    color: rgba(0, 0, 0, 0.66);
    cursor: pointer;
    user-select: none;
}

td {
    background-color: rgb(153, 153, 153);
}
  
th, td {
    min-width: 150px;
    padding: 30px 30px;
}

/* Definitions specifiques */

#TitleL {
    border: 3px solid rgba(56, 56, 56, 0.062);
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 3px;
    color: rgb(255, 255, 255);
}

#Selector {
    border: 2px solid rgb(255, 203, 91);
    background-color: rgb(255, 244, 181);
    border-radius: 3px;
    padding-right: 10px;
    color: rgb(0, 0, 0);
}

#filter_name {
    border: 3px solid rgb(56, 56, 56);
    background-color: rgb(255, 244, 181);
    border-radius: 3px;
    padding-right: 30px;
    color: rgb(0, 0, 0);
}

#LastProduct {
    border: 2px solid rgb(255, 203, 91);
    background-color: rgb(255, 244, 181);
    border-radius: 3px;
    color: rgb(0, 0, 0);
}

#Titre {
    color: rgb(165, 42, 42);
    position: fixed;
    width: auto;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#Filtres {
    position: fixed;
    width: auto;
    margin-top: -50px;
    margin-left: -10px;
    margin-right: auto;
    margin-bottom: auto;
    background-color: rgba(0, 110, 255, 0.3);
    padding: 10px 10px;
}

#Titre_backgr {
    color: rgb(165, 42, 42);
    position: fixed;
    width: auto;
    text-align: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#Space {
    color: rgba(165, 42, 42, 0);
    background-color: transparent;
    border: transparent;
    padding-right: 125px;
}

#table_base {
    border: 2px solid rgb(0, 174, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    margin-top: 50px;
  }

#table_title {
    border: 2px solid rgb(255, 174, 0);
    background-color: rgb(255, 217, 0);
    border-radius: 3px;
    color: rgb(0, 0, 0);
}