div {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 168, 86);
    border-radius: 5px;
    margin-top: 25px;
    min-width: 50px;
    padding: 15px 15px;
}

#Name {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    margin-top: 5px;
    min-width: 50px;
    padding: 15px 15px;
}

#Supplier {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    margin-top: 5px;
    min-width: 50px;
    padding: 15px 15px;
}

#Quantity {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    margin-top: 5px;
    min-width: 50px;
    padding: 15px 15px;
}

#UnitCost {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    margin-top: 5px;
    min-width: 50px;
    padding: 15px 15px;
}